body {
    background-color: #b3d9ff; /* warna biru muda latar belakang */
    font-family: Arial, sans-serif;
}

.logo-header {
    display: flex;
    align-items: center;
    background-color: #a4b9e6;
    padding: 10px 20px;
    gap: 15px;
}

.logo-header img {
    height: 50px;
}

.logo-header h1 {
    margin: 0;
    font-size: 24px;
    color: #fff;
}

.logo-header span {
    font-size: 14px;
    color: #fff;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 30px;
    background-color: #fef5d4;
    padding: 5px 10px;
    border-radius: 20px;
}

.search-icon {
    font-size: 20px;
}

.laporan-box {
    background-color: #fef5d4;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.laporan-table th {
    background-color: #a4b9e6;
    color: white;
    text-align: center;
}

.laporan-table td {
    background-color: #fffbe8;
    vertical-align: middle;
}

.status {
    padding: 3px 10px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 0.85rem;
    display: inline-block;
}

.status-menunggu {
    background-color: #ffeeba;
    color: #856404;
    padding: 4px 10px;
    border-radius: 10px;
    display: inline-block;
    font-weight: bold;
}

.status-diproses {
    background-color: #cce5ff;
    color: #004085;
    padding: 4px 10px;
    border-radius: 10px;
    display: inline-block;
    font-weight: bold;
}

.status-selesai {
    background-color: #d4edda;
    color: #155724;
    padding: 4px 10px;
    border-radius: 10px;
    display: inline-block;
    font-weight: bold;
}

.status-ditolak {
    background-color: #f8d7da;
    color: #721c24;
    padding: 4px 10px;
    border-radius: 10px;
    display: inline-block;
    font-weight: bold;
}
.btn-lihat {
    background-color: #b3d9ff;
    border-radius: 20px;
    padding: 10px 25px;
    color: black;
}
.btn-lihat:hover {
    background-color: #d5e9fd;
    color: black;
}
